.about {
  padding: 0 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 100%;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    left: 0;
    top: -37px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      height: 17px;
      background-size: 100% 17px;
      top: -73px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 23px;
      background-size: 100% 23px;
      top: -92px;
      width: 91%;
      left: 49px;
    }
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 82px;
}



.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    align-items: start;
    }
}

.about__list__column {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  list-style-type: none;
}

.about__list-item img {
  display: block;
}

.about__list-item-description {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.about__list-item {
  position: relative;
}

.about__list-item:not(:last-child) {
  margin-bottom: 83px;
}

.about__list-item-image {
  position: absolute;
}

.about__list-item-image--flower {
  top: -54px;
  left: 8px;
}

.about__list-item-image--money {
  top: -53px;
  left: 0;
}

.about__list-item-image--heart {
  top: -48px;
  left: 7px;
}

.about__list-item-image--ball {
  top: -51px;
  left: 3px;
}

.about__list-item-image--rocket {
  top: -50px;
  left: -6px;
}

.about__list-item-image--present {
  top: -52px;
  left: 3px;
}

.about__list__item:not(:last-child) {
  margin-bottom: 83px;
}

.about__list__item-column:not(:last-child) {
  margin-bottom: 83px;

  @media (min-width: 640px)  {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0 50px;
  }

  .about__title {
    margin-top: 125.5px;
    margin-bottom: 78.5px;
  }

  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    align-items: start;
  }

  .about__list-item-image--flower {
    top: -58px;
  }

  .about__list-item-image--money {
    top: -56px;
    left: 1px;
  }

  .about__list-item-image--heart {
    top: -51px;
    left: 8px;
  }

  .about__list-item-image--ball {
    top: -54px;
  }

  .about__list-item-image--rocket {
    top: -53px;
  }

  .about__list-item-image--present {
    top: -55px;
  }

  .about__list-item-description {
    font-size: 20px;
    line-height: 22px;
  }

  .about__list-item:not(:last-child) {
    margin-bottom: 111px;
  }

  .about__list__item-column:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0 225px;
  }

  .about__title {
    margin-top: 103px;
    margin-bottom: 76px;
  }
}
