.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 52px;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .button {
    width: 292px;
  }
}
