.button-xs {
  width: 82px;
  min-height: 52px;
  border: solid 2px #444444;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .button-xs {
    width: 112px;
  }
}
