.button-secondary {
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

@media (min-width: $tablet-width) {
  .button-secondary {
    width: 100%;
  }
}
