.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;

  &:hover .card__border {
    box-shadow: 0 6px 10px 0 #0000001a;
  }

  &:active .card__border {
    box-shadow: 0 3px 5px 0 #0000001a;
  }
}

.card__border {
  border-left: solid 1px #ececec;
  border-right: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
}

.card__card-image {
  display: block;
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-top: 27.5px;
  margin-bottom: 6px;
  margin-left: 28px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__card-link {
  color: #000000;

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 28px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 28px;
  position: relative;

  @media (min-height: $mobile-width) and (max-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 78.46%;
      height: 1px;
      background-color: #ececec;
      top: -23.5px;
    }
  }
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 26.5px;
}

.card__cart-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  padding-top: 0;
  margin-right: 17px;
  opacity: 0.2;
  transition: fill 0.3s, opacity 0.3s;

  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
    transition: none;
  }
}

@media (min-width: $tablet-width) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 21.87%;
    min-height: 334px;
  }

  .card__border {
    border-top: solid 1px #ececec;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .card__card-image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 334px;
  }

  .card__description {
    grid-column: 2/3;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }

  .card__tittle-wrapper {
    padding-left: 34px;
    flex-grow: 1;
  }

  .card__price-wrapper {
    grid-column: 2/3;
    padding-left: 34px;
    position: relative;
    min-height: 73px;

    &::before {
      position: absolute;
      content: "";
      width: 80%;
      height: 1px;
      background-color: #ececec;
      top: 0;
    }
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 6.5px;
    margin-left: 0;
  }

  .card__price {
    font-size: 17px;
    line-height: 24px;
    align-self: end;
    margin-bottom: 25.5px;
  }

  .card__cart-button {
    align-self: end;
    margin-bottom: 18px;
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 659px;
    margin-bottom: 57px;
  }

  .card__border {
    width: 100%;
    border-top: none;
    transition: all 0.3s;
  }

  .card__title {
    margin-bottom: 6px;
  }

  .card__description {
    margin-bottom: 12.5px;
  }

  .card__card-image {
    width: 316px;
  }

  .card__price {
    margin-bottom: 24px;
  }

  .card__tittle-wrapper {
    min-height: 123.5px;
    padding-left: 27px;
  }

  .card__price-wrapper {
    padding-left: 27px;
    width: 100%;
    min-height: 72.5px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 81.01%;
      height: 1px;
      background-color: #ececec;
      top: 0;
    }
  }

  .card__cart-button {
    margin-bottom: 15px;
  }
}
