.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: solid 1px #ececec;
}

.card__card-image {
  display: block;
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-top: 27.5px;
  margin-bottom: 6px;
  margin-left: 28px;
}

.card__card-link {
  color: #000000;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 28px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26.5px;
}

.card__cart-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

@media (min-width:$tablet-width) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
  }
  .card__card-image {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .card__description {
    grid-column: 2/3;
    font-size: 15px;
    line-height: 30px;
  }
  .card__price-wrapper {
    grid-column: 2/3;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 6.5px;
  }
  .card__price {
    font-size: 17px;
    line-height: 24px;
    align-self: end;
    margin-bottom: 25.5px;
  }
  .card__cart-button {
    align-self: end;
    margin-bottom: 15px;
  }
}

@media (min-width:$desktop-width) {
  .card {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 659px;
    margin-bottom: 57px;
  }
  .card__title {
    margin-bottom: 6px;
  }
  .card__description {
    margin-bottom: 60.5px;
  }
}
