.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-list__item {
  width: 320px;
  min-height: 103px;
  text-align: left;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.categories-list__link {
  color: #ffffff;
  min-width: 130px;
  padding: 24px 160px 31px 0;
}

.categories-list__item--primary {
  background-color: #63d1bb;
  background-image: url("../../img/lamp.svg");
  background-repeat: no-repeat;
  background-position: 88.75% center;
}

.categories-list__item--secondary {
  background-color: #56c3b2;
  background-image: url("../../img/toy.svg");
  background-repeat: no-repeat;
  background-position: 91.56% center;
}

@media (min-width: $tablet-width) {
  .categories-list {
    display: flex;
  }

  .categories-list__item {
    width: 100%;
    padding: 0;
    min-height: 119px;
  }

  .categories-list__link {
    padding: 25px 167px 34px 36px;
  }
}

@media (min-width: $desktop-width) {
  .categories-list {
    display: flex;
  }

  .categories-list__item {
    width: 100%;
  }

  .categories-list__link {
    max-width: 200px;
  }
}
