.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-list__item {
  width: 320px;
  text-align: left;
  padding: 0 30px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;

  @media (min-width: $tablet-width) {
    &:hover {
      margin-top: -5px;
    }
  }

  &--primary:hover {
    background-color: #59d5bc;
  }

  &--primary:active {
    background-color: #59d5bc;
  }

  &--secondary:hover {
    background-color: #46c1ae;
  }

  &--secondary:active {
    background-color: #46c1ae;
  }
}

.categories-list__link {
  color: #ffffff;
  min-width: 130px;
  padding: 24px 160px 31px 0;
  position: relative;

  @media (min-width: $desktop-width) {
    &:hover {
      padding-bottom: 39px;
      transition: all 0.3s;
    }
  }

  &:hover {
    transition: all 0.3s;
  }

  &--primary:focus-visible {
    outline: 2px solid#bd63d1;
  }

  &--secondary:focus-visible {
    outline: 2px solid#b856c3;
  }

  &:hover .categories-list__link-image--lamp {
    opacity: 0.7;
  }

  &:active .categories-list__link-image--lamp {
    opacity: 0.3;
  }

  &:hover .categories-list__link-image--toy {
    opacity: 0.7;
  }

  &:active .categories-list__link-image--toy {
    opacity: 0.3;
  }
}

.categories-list__link-image--lamp {
  position: absolute;
  content: "";
  width: 40px;
  height: 62px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 76.95%;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.categories-list__link-image--toy {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 71.86%;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.categories-list__item--primary {
  background-color: #63d1bb;
}

.categories-list__item--secondary {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .categories-list {
    display: flex;
    align-items: flex-end;
  }

  .categories-list__item {
    width: 100%;
    padding: 0;
  }

  .categories-list__link {
    padding: 25px 184px 34px 36px;
  }
}

@media (min-width: $desktop-width) {
  .categories-list {
    display: flex;
  }

  .categories-list__item {
    width: 100%;
  }

  .categories-list__link {
    max-width: 200px;
    padding: 25px 485px 34px 36px;
  }

  .categories-list__link-image--lamp {
    left: 85.33%;
  }

  .categories-list__link-image--toy {
    left: 81.9%;
  }
}
