.checkbox-block {
  min-height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.checkbox-block__checkbox {
  position: absolute;
  left: -61px;
}

@media (min-width:$tablet-width) {
  .checkbox-block {
    min-height:fit-content;
  }
}
