.checkbox-block {
  min-height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.checkbox-block__checkbox {
  position: absolute;
  left: -61px;
  cursor: pointer;

  &:checked + .checkbox-block__label::after {
    display: block;
  }

  &:focus-visible + .checkbox-block__label::before {
    outline: solid 2px #62d1ba;
  }
}

.checkbox-block__label {
  cursor: pointer;

  &:hover {
    &::before {
      border-color: #62d1ba;
    }
  }

  &:active {
    &::before {
      border-color: #0000004d;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    border: solid 2px #444444;
    left: -61px;
    bottom: 0;
    transition: border-color 0.3s;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 23.22px;
    height: 16.08px;
    mask: url("../../img/sprite.svg#tick-icon") center center no-repeat;
    background: #000000;
    mask-size: 24px 17px;
    left: -53px;
    bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .checkbox-block {
    min-height: fit-content;
  }

  .checkbox-block__label {
    &::before {
      bottom: -18px;
      left: -79px;
      width: 52px;
      height: 52px;
    }

    &::after {
      bottom: -6px;
      left: -69px;
      width: 32px;
      height: 22px;
      mask-size: 32px 22px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: $tablet-width) {
    .checkbox-block__label {
      &::after {
        mask-size: 32px 26px;
        mask-position: -2px -6px;
      }
    }
  }
}
