.checkbox-block {
  min-height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.checkbox-block__checkbox {
  position: absolute;
  left: -61px;
  cursor: pointer;

  &:checked + .checkbox-block__label::after {
    display: block;
  }

  &:focus-visible + .checkbox-block__label::before {
    outline: solid 2px #62d1ba;
  }
}

.checkbox-block__label {
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    border: solid 2px #444444;
    left: -61px;
    bottom: 0;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 23.22px;
    height: 16.08px;
    background-image: url(../../img/icons/tick-icon.svg);
    background-position: center;
    left: -53px;
    bottom: 10px;
}
}

@media (min-width: $tablet-width) {
  .checkbox-block {
    min-height: fit-content;
  }

  .checkbox-block__label {

    &::before {
      bottom: -10px;
    }

    &::after {
      bottom: 0;
    }
  }
}
