.contacts {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts__item-name {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 76px;
  margin-top: 0;
  margin-right: 1px;
  align-self: flex-start;
}

.contacts__item-info {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 183px;
  align-self: flex-start;
}

.contacts__item-info--decoration {
  text-decoration: underline;
  text-decoration-color: #62d1ba;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  transition: text-decoration-color 0.3s, color 0.3s;

  &:hover {
    color: #46c1ae;
    text-decoration-color: #46c1ae;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }

  &:active {
    text-decoration-color: #46c1ae10;
  }
}

@media (min-width: $tablet-width) {
  .contacts__item-name {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item-info--decoration {
    text-underline-offset: 3px;
  }

  .contacts__item {
    margin-top: 0;
  }

  .contacts__item-info {
    font-size: 17px;
    line-height: 30px;
    width: 218px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item {
    margin-top: 10px;
    margin-bottom: 3px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .contacts__map-wrapper {
    width: 527px;
    margin-bottom: 105px;
  }

  .contacts__item-info--decoration {
    text-underline-offset: 7px;
  }
}
