.contact-us {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    top: -46px;
  }
}

.contact-us__title {
  margin-top: 89px;
  margin-bottom: 28px;
  padding: 0 30px;
}

.contact-us__button {
  margin-left: 30px;
  margin-bottom: 39px;
}

.contact-us__map-wrapper {
  position: relative;
}

.contact-us__map-wrapper-map {
  display: block;
  margin-top: 62px;
  margin-bottom: 42px;
  height: 454px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      background-size: 100% 17px;
      background-image: url("../../img/zigzag-line.svg");
      background-repeat: repeat-x;
      top: 68px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../../img/flag.svg");
      background-repeat: no-repeat;
      top: 131px;
      right: 53px;
    }
  }

  .contact-us__title {
    padding: 0 50px;
    margin-top: 153px;
    margin-bottom: 49px;
  }

  .contact-us__wrapper {
    width: 100%;
  }

  .contact-us__wrapper .contact-us__list {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }

  .contact-us__button {
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 57px;
    width: 230px;
  }

  .contact-us__item {
    font-size: 17px;
    line-height: 30px;
  }

  .contact-us__map-wrapper-map {
    display: block;
    width: 768px;
    object-fit: cover;
    height: 457px;
    margin-top: 31px;
  }
}

@media (min-width: $desktop-width) {
  .contact-us {

    padding-right: 50px;
    padding-top: 161px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 91%;
      height: 23px;
      background-size: 100% 23px;
      background-image: url("../../img/zigzag-line.svg");
      background-repeat: repeat-x;
      top: 75px;
      left: 50px;
    }

    &::after {
      top: 231px;
      left: 113px;
    }
  }

  .contact-us__title {
    padding: 0;
    margin: 0;
    margin-top: 88px;
    padding-left: 225px;
    max-width: 500px;
  }

  .contact-us__wrapper {
    display: grid;
    grid-template-columns: 1fr 527px;
    margin-bottom: 105px;
  }

  .contact-us__wrapper .contact-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 570px;
    height: min-content;
    padding-left: 225px;
    padding-top: 26px;
  }

  .contact-us__button {
    width: 230px;
    margin-top: 81px;
    margin-bottom: 0;
  }

  .contact-us__map-wrapper {
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .contact-us__button-wrapper {
    padding-left: 106px;
  }

  .contact-us__map-wrapper-map {
    margin-top: 7px;
    margin-bottom: 0;
    width: 527px;
    height: 457px;
  }
}
