.contacts {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.contacts__item-name {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 76px;
  margin-top: 0;
  margin-right: 1px;
  align-self: flex-start;
}

.contacts__item-info {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 183px;
  align-self: flex-start;
}



