.developed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
  text-decoration: none;
  color: #000000;

  &:hover .developed__logo {
    fill: #46c1ae;
  }

  &:hover .developed__text {
    opacity: 0.7;
  }

  &:active .developed__text {
    opacity: 0.3;
  }

  &:active .developed__logo {
    opacity: 0.3;
  }

  &:focus-visible .developed__logo {
    outline: solid 2px #63d1bb;
  }
}

.developed__logo {
  cursor: pointer;
  fill: #63d1bb;
  transition: fill 0.3s, opacity 0.3s;
}

.developed__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 27px;
  transition: opacity 0.3s;
}
