@import "variables.scss";

.featured {
  padding: 0 30px;
}

.featured__title {
  margin-bottom: 3.5px;
  margin-top: 33px;
}

.featured__best-of-week {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding-right: 10px;
  margin-top: 16px;
}

.featured__properties {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 36px;
}

.featured__properties-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ececec;
    bottom: -8px;
  }
}

.featured__type {
  width: 97px;
  margin-right: 1px;
  margin-bottom: 0;
}

.featured__value {
  left: 97px;
  margin-bottom: 5px;
}

.featured__image {
  margin: 0 auto;
  display: block;
  max-height: 315px;
}

.featured__order-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  margin-top: 25.5px;
  margin-bottom: 24.5px;
}

.featured__button {
  margin-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .featured {
    padding: 0 50px;
    position: relative;
  }

  .featured__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 37.5px;
    padding-right: 12px;
  }

  .featured__title {
    margin: 0;
    width: 500px;
  }

  .featured__best-of-week {
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .featured__columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 334px;
    column-gap: 42px;
    align-items: start;
    min-height: 404px;
  }

  .featured__description {
    grid-column: 1/2;
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 39px;
  }

  .featured__properties {
    grid-column: 1/2;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 61px;
  }

  .featured__image-wrapper {
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .featured__image {
    margin: 12px 0 0 auto;
    max-height: 404px;
  }

  .featured__order-wrapper {
    grid-column: 1/2;
  }

  .featured__button {
    margin-bottom: 0;
  }

  .featured__price {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .featured__type {
    margin-top: 9.5px;
    margin-bottom: 9.5px;
  }

  .featured__value {
    margin-top: 9.5px;
    margin-bottom: 9.5px;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    position: relative;
    min-height: 636px;
  }

  .featured__title {
    width: 590px;
  }


  .featured__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 32px;
    margin-top: 135px;
    margin-bottom: 35px;
  }

  .featured__best-of-week {
    order: -1;
    margin-right: 43px;
    margin-top: 10px;
  }

  .featured__columns-wrapper {
    display: grid;
    grid-template-columns: 292px 525px;
    column-gap: 58px;
    align-items: start;
    padding-left: 175px;
  }

  .featured__image {
    margin-top: 17px;
    max-height: 636px;
  }

  .featured__description {
    grid-column: 1/2;
    margin-bottom: 50px;
  }

  .featured__properties {
    grid-column: 1/2;
    margin-bottom: 99.5px;
  }

  .featured__price {
    margin-top: 17px;
  }

  .featured__image-wrapper {
    position: absolute;
    right: 50px;
    top: -78px;
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .featured__order-wrapper {
    grid-column: 1/2;
  }
}
