.form-list-radio {
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 60px;
}

@media (min-width: $tablet-width) {
  .form-list-radio {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 189px;
  }
}

@media (min-width: $desktop-width) {
  .form-list-radio {
    padding-left: 133px;
  }
}
