.form {
  padding-bottom: 55px;
}

.form__label-text {
  display: block;
  background-color: #ffffff;
  width: 60px;

  &--long {
    width: 78px;
  }
}

.form__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    position: relative;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100vw;
      background-color: #62d1ba;
      left: 0;
      top: 7.5px;
      z-index: -1;
    }
  }
}

.form__label--primary {
  color: #63d1bb;
}

.form__form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__form-radio:not(:last-child) {
  margin-bottom: 17px;
}

.form__form-checkbox:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__form-list-name {
  padding-top: 28.85px;
  padding-bottom: 12.65px;
}

.form__required-menu-items {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 31px;
}

.form__button {
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 50px;
  }

  .form__label-text {
    background-color: transparent;
  }

  .form__type {
    display: flex;
    padding: 0 50px;
  }

  .form__form-radio:not(:last-child) {
    margin-bottom: 41px;
  }

  .form__type--pdt-pdb50 {
    padding-top: 58px;
    padding-bottom: 57px;
  }

  .form__label--primary {
    align-self: flex-start;
    padding-top: 10px;
  }

  .form__form-list-name {
    padding: 0;
    padding-left: 107px;
  }

  .form__type--contacts {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__type--checkbox {
    padding-bottom: 67px;
  }

  .form__type--name {
    padding-bottom: 24px;
    padding-top: 52px;
  }

  .form__type--additional {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .form__label-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .form__label-wrapper:not(:last-child) {
    margin-bottom: 24px;
  }

  .form__label--name {
    margin-top: 7px;
  }

  .form__label--phone {
    margin-top: 6px;
  }

  .form__label--email {
    margin-top: 7px;
  }

  .form__label--additional {
    margin-top: 10px;
  }

  .form__text-input-block {
    margin-left: auto;
  }

  .form__required-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0 50px;
  }

  .form__required-menu-items {
    margin: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__type {
    padding-left: 112px;
  }

  .form__form-list-name {
    padding-left: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .form__form-text {
    margin-right: 173px;
  }

  .form__required-wrapper {
    padding: 0 225px;
  }

  .form__type--contacts {
    padding-right: 225px;
  }
}
