.form {
  padding-bottom: 55px;
}

.form__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.form__label--primary {
  color: rgb(99, 209, 187);
}

.form__form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__from-radio:not(:last-child) {
  margin-bottom: 24px;
}

.form__form-list-name {
  padding-top: 28.85px;
  padding-bottom: 12.65px;
}

.form__required-menu-items {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 17px;
  margin-bottom: 48px;
}

@media (min-width:$tablet-width) {
  .form__type {
    display: flex;
  }
}
