.form-list-radio {
  padding-top: 35px;
  padding-bottom: 43px;
  padding-left: 60px;
}

@media (min-width: $tablet-width) {
  .form-list-radio {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 181px;
  }
}

@media (min-width: $desktop-width) {
  .form-list-radio {
    padding-left: 143px;
  }
}
