.forms {
  padding: 0 30px;
}

.forms__customization-text {
  margin-top: 17px;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .forms {
    padding: 0;
  }

  .forms__customization-text {
    margin-top: 65px;
    margin-bottom: 13px;
    padding-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .forms__customization-text {
    margin-top: 98.5px;
    padding-left: 174px;
    padding-right: 200px;
  }
}
