@import "variables.scss";

.hero {
  background-image: url("../img/hero-image.jpg");
  background-color: #808080;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  padding: 0 30px;
  padding-top: 73px;
  min-height: 300px;
}


@media (min-width:$tablet-width) {
  .hero {
    min-height: 627px;
    padding-top: 155px;
  }
}

@media (min-width:$desktop-width) {
  .hero {
    padding-top: 157px;
  }
}
