@import "variables.scss";

.hero {
  background-image: url("../img/hero-image.jpg");
  background-color: #808080;
  background-repeat: no-repeat;
  background-position: 0 -17px;
  background-size: 100% auto;
  object-fit: cover;
  padding-top: 73px;
  min-height: 283px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: calc((100vw - 100%) / -2);
    background-color: #f9f9f9;
    z-index: -1;
  }

  @supports (background-image: url("../img/hero-image.webp")) {
    background-image: url("../img/hero-image.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-image@2x.jpg");
    background-size: 100% auto;
    background-position: 0 -17px;

    @supports (background-image: url("../img/hero-image@2x.webp")) {
      background-image: url("../img/hero-image@2x.webp");
    }
  }
}


@media (min-width: $tablet-width) {
  .hero {
    min-height: 745px;
    padding-top: 155px;
    background-position: top;
    background-image: url("../img/hero-image-tablet.jpg");

    @supports (background-image: url("../img/hero-image-tablet.webp")) {
      background-image: url("../img/hero-image-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-image-tablet@2x.jpg");

      @supports (background-image: url("../img/hero-image-tablet@2x.webp")) {
        background-image: url("../img/hero-image-tablet@2x.webp");
      }
    }
  }

  .hero__mobile-br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding-top: 157px;
    background-image: url("../img/hero-image-desktop.jpg");
    min-height: 742px;

    @supports (background-image: url("../img/hero-image-desktop.webp")) {
      background-image: url("../img/hero-image-desktop.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-image-desktop@2x.jpg");

      @supports (background-image: url("../img/hero-image-desktop@2x.webp")) {
        background-image: url("../img/hero-image-desktop@2x.webp");
      }
    }
  }
}
