.hero-section {
  background-color: #f1f1f1;
  min-height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  padding-top: 73.54px;
}

@media (min-width: $tablet-width) {
  .hero-section {
    padding-top: 101px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-tablet.svg");
      background-size: 100% 24px;
      background-repeat: repeat-x;
      bottom: -12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero-section {
    padding-top: 102.05px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      background-image: url("../../img/zigzag-fill-desktop-catalog.svg");
      background-size: 100% 34px;
      bottom: -17px;
    }
  }
}
