.main-header {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  z-index: 1;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100vw;
    bottom: 0;
    left: calc((100vw - 100%) / -2);
    background-color: #00000010;
  }
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
  min-height: 79px;
}

.main-header__logo {
  margin: 0 auto;
  transition: opacity 0.3s;
  z-index: 2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }
}

.main-header__logo-image {
  max-height: 75px;
}

@media (max-width: $mobile-max-width) {
  .main-header__logo {
    position: relative;
    top: 2px;
    left: 14px;
  }

  .main-header__toggle-lines {
    width: 20px;
    height: 2px;
    background-color: #231f20;
    position: relative;
    top: 0;
    left: 6px;
    transition: all 0.6s;

    &::before {
      width: 20px;
      height: 2px;
      position: absolute;
      content: "";
      background-color: #231f20;
      bottom: 6px;
      right: 0;
    }

    &::after {
      width: 20px;
      height: 2px;
      position: absolute;
      content: "";
      background-color: #231f20;
      bottom: -6px;
      right: 0;
    }


    &--x {
      transform: rotate(-45deg);

      @keyframes lineCenter {
        50% {
          transform: rotate(-45deg);
        }
      }


      &::before {
        width: 20px;
        height: 2px;
        position: absolute;
        content: "";
        background-color: #231f20;
        animation: lineFirst 0.3s forwards;
      }

      @keyframes lineFirst {
        50% {
          bottom: 0;
          right: 0;
          transform: rotate(-45deg);
        }

        100% {
          bottom: 0;
          transform: rotate(-90deg);
        }
      }

      &::after {
        width: 20px;
        height: 2px;
        position: absolute;
        content: "";
        background-color: #231f20;
        animation: lineSecond 0.3s forwards;
      }

      @keyframes lineSecond {
        50% {
          bottom: -3px;
          right: 0;
        }

        100% {
          bottom: 0;
        }
      }
    }
  }

  .main-header {
    position: relative;
  }


  .main-header__list-wrapper--menu-close {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -179px);
    opacity: 0;
    transition: 0.6s;
    width: 100%;
  }

  .main-header__list-wrapper--menu-open {
    visibility: visible;
    position: absolute;
    transform: translate(-50%, 0);
    transition: 0.6s;
    opacity: 1;
    top: 100%;
    left: 50%;
    width: 100%;
  }

  .main-header__list-wrapper--no-animation {
    display: none;
  }

  .main-header__toggle {
    display: flex;
    border: none;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    width: 32px;
  }

  .main-header--no-js .main-header__toggle {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .main-header__wrapper {
    margin-right: auto;
    padding: 0;
  }

  .main-header {
    display: flex;
    min-height: 89px;
    padding: 0 50px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    margin: 0;
    position: relative;
    top: 4px;
    left: -1px;
  }

  .main-header__list-wrapper {
    display: flex;
  }

  .main-header__list--first {
    flex-wrap: wrap;
    max-width: 440px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .main-header__list--first {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
  }

  .main-header__list-wrapper {
    justify-content: space-between;
    width: 100%;
  }

  .main-header__list--first {
    order: -2;
    margin-right: auto;
  }

  .main-header__list--icons {
    min-width: 349px;
  }

  .main-header__wrapper {
    order: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-header__list--last {
    font-size: 15px;
    line-height: 24px;
  }
}
