.main-footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;

  &::before {
    content: "";
    position: absolute;
    left: calc((100vw - 100%) / -2);
    top: 0;
    height: 100%;
    background: #f1f1f1;
    width: 100vw;
    z-index: -1;
  }
}

.main-footer__socials {
  padding: 0 53px 8px 88px;
}

.main-footer__developed {
  padding: 0 30px;
  width: 244px;
  justify-content: flex-end;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 143px;
    padding: 0 50px;
  }

  .main-footer__socials {
    padding: 0 20px 8px 120px;
  }

  .main-footer__developed {
    padding: 0;
  }

  .main-footer__logo {
    display: block;
  }
}

@media (max-width: $mobile-max-width) {
  .main-footer {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 81.25%;
      height: 1px;
      background-color: #e5e5e5;
      top: 80px;
    }
  }
}
