.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
}

.main-header__logo {
  margin: 0 auto;
}

.main-header__toggle {
  width: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width:$tablet-width) {
  .main-header__wrapper {
    margin-right: auto;
  }
  .main-header {
    display: flex;
    min-height: 89px;
  }
  .main-header__toggle {
    display: none;
  }
  .main-header__logo {
    margin: 0;
  }
}
