.modal-wrapper {
  z-index: 3;
}

.modal-window {
  width: 320px;
  padding: 28.5px 30px 46px 30px;
  background-color: #ffffff;
  align-self: center;
  justify-self: center;
  box-shadow: 0 5px 10px 0 #00010140;
  border: solid 1px #c6c6c6c6;
  z-index: 2;
  margin: 0 auto;
}

.modal-window__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  padding: 0 50px;
}

.modal-window__options {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .modal-window {
    width: 566px;
    padding: 37.5px 102px 46px 108px;
  }

  .modal-window__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 11px;
    padding: 0;
  }

  .modal-window__options {
    font-size: 17px;
  }
}
