.modal-wrapper {
  display: flex;
  position: fixed;
  background-color: #ffffff90;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-wrapper--invisible {
  display: none;
}
