.page {
  height: 100%;
  width: 320px;
  margin: 0 auto;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
