.production {
  padding: 0 30px;
}

.production--spacing {
  margin-bottom: 58px;
}

.production__content-wrapper {
  border: solid 1px #ececec;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  padding-top: 21.5px;
  margin-top: 0;
  margin-bottom: 26.5px;
  padding-left: 91px;
  position: relative;
}

.production__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/camera-icon.svg");
  background-size: 32px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 22px;
  left: 34px;
  top: 32px;
  margin: auto;
}

.production__video-player {
  margin-bottom: 35px;
}

.production__production-description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-left: 34px;
  margin-top: -5px;
  margin-bottom: 41px;
}

.production__button {
  width: 192px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production {
    padding: 0 50px;
    border-top: none;
  }

  .production__content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }

  .production__video-player {
    order: -2;
    min-height: 455px;
    margin-bottom: 41px;
  }

  .production__title {
    order: -1;
    margin-top: 0;
    margin-bottom: 27.5px;
    padding-top: 0;
    padding-left: 107px;
    font-size: 20px;
    line-height: 24px;
  }

  .production__title::before {
    left: 40px;
    top: -3px;
  }

  .production__production-description {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .production--spacing {
    margin-bottom: 64px;
  }

  .production__button {
    width: 87.43%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .production__content-wrapper {
    display: grid;
    align-items: start;
    grid-template-columns: 682.65px 1fr;
    column-gap: 79.08px;
    padding-bottom: 0;
  }

  .production__video-player {
    grid-column: 1/2;
    grid-row: 1/5;
    margin-bottom: 0;
  }

  .production__title {
    grid-column: 2/3;
    padding-left: 0;
    padding-top: 96px;
    max-width: 200px;
    margin-bottom: 30px;
  }

  .production__title::before {
    left: 0;
    top: 45px;
  }

  .production__production-description {
    grid-column: 2/3;
    padding: 0;
    margin-bottom: 52px;
  }

  .production__button {
    grid-column: 2/3;
    width: 230px;
    margin: 0;
    align-self: start;
  }

  .production--spacing {
    margin-bottom: 102px;
  }
}
