.products-categories {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin-top: -2px;
}

@media (min-width: $tablet-width) {
  .products-categories {
    padding: 0 50px;
    position: relative;
    font-size: 20px;
    line-height: 30px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      bottom: -12px;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .products-categories {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 34px;
      background-image: url("../../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      bottom: -17px;
    }
  }
}
