.radio-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.radio-block__radio {
  position: absolute;
  left: -61px;
  cursor: pointer;
}

.radio-block__label {
  cursor: pointer;
}
