.reviews {
  padding: 0 30px;
}

.reviews__title {
  margin-top: 58px;
  margin-bottom: 14px;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__slide-wrapper {
  margin-bottom: 38px;
  margin-top: 30px;
}

.reviews__button-wrapper {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 79px 50px 47px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 457px;
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @supports (background-image: url("../img/review.webp")) {
      background-image: url("../img/review.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;

      @supports (background-image: url("../img/review@2x.webp")) {
        background-image: url("../img/review@2x.webp");
      }
    }
  }

  .reviews__title {
    order: -2;
    margin: 0;
    margin-top: 4px;
  }

  .reviews__button {
    order: -1;
    width: 175px;
    font-size: 17px;
    line-height: 20px;
  }

  .reviews__slide-wrapper {
    margin: 0;
    position: absolute;
    bottom: 109px;
    right: 44px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-position: 50px 7px;
    align-items: start;
  }

  .reviews__wider-wrapper {
    grid-column: 1/3;
  }

  .reviews__slide-wrapper {
    bottom: 100px;
  }

  .reviews__button {
    justify-self: end;
    margin-top: 7px;
  }
}
