.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  padding: 28.5px 59px 26.5px 76px;
}

.site-list__item {
  min-height: 79px;
  min-width: 320px;
  display: flex;
  align-items: center;
}

.site-list__item--search {
  background-image: url("../../img/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.site-list__item--cart {
  background-image: url("../../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.site-list__item--desktop,
.site-list__item--delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    position: relative;
    min-height: 89px;
  }

  .site-list__item {
    min-width: 0;
  }

  .site-list__link-text--search {
    display: none;
  }

  .site-list__link--wider {
    padding-top: 20.5px;
    padding-left: 0;
    padding-right: 0;
  }

  .site-list__item--catalog {
    position: absolute;
    left: -366px;
    top: 85px;
    padding-left: 46px;
  }

  .site-list__link--smaller {
    font-size: 15px;
    line-height: 24px;
  }

  .site-list__item--order {
    position: absolute;
    left: -152px;
    top: 85px;
  }

  .site-list__item--search {
    width: 82px;
  }

  .site-list__item--cart {
    background-position: 31px 32px;
    width: 264px;
    justify-content: flex-end;
  }

  .site-list__link--search {
    padding: 0;
    padding-left: 41px;
    padding-right: 41px;
    min-height: 89px;
    width: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00000010;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00000010;
      right: 0;
    }
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 108px;
    right: -70px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .site-list__item--desktop {
    display: block;
  }

  .site-list__item--catalog {
    position: static;
    padding-left: 0;
    min-width: 179px;
    margin-right: 41px;
  }

  .site-list__item--order {
    position: static;
  }

  .site-list__link {
    padding-bottom: 20.5px;
  }

  .site-list__item--new {
    position: absolute;
    top: 109.5px;
    left: -1050px;
    min-width: 240px;
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 109.5px;
    right: -70px;
  }

  .site-list__item--sale {
    position: absolute;
    top: 109.5px;
    left: -831px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}
