.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  padding: 28.5px 59px 26.5px 76px;
  cursor: pointer;
  position: relative;

  &:hover .site-list__link-text {
    opacity: 0.6;
  }

  &:active .site-list__link-text {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }

  &:hover .site-list__link-icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .site-list__link-icon {
    opacity: 0.3;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .site-list__link {
    width: 320px;
    background-color: #ffffff;
    border-top: solid 1px #ececec;
  }
}

.site-list__item {
  min-height: 79px;
  min-width: 320px;
  display: flex;
  align-items: center;
}

.site-list__link-icon--search {
  position: absolute;
  left: 32px;
  top: 32px;
  opacity: 0.2;
}

.site-list__link-icon--cart {
  position: absolute;
  left: 32px;
  top: 32px;
  opacity: 0.2;
}

.site-list__item--desktop,
.site-list__item--delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    position: relative;
    min-height: 89px;
    z-index: 1;
  }

  .site-list__item {
    min-width: 0;
  }

  .site-list__link-icon {
    transition: all 0.3s;
  }

  .site-list__link-text {
    transition: opacity 0.3s;
  }

  .site-list__link-text--search {
    display: none;
  }

  .site-list__link--wider {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
    padding-left: 0;
    padding-right: 0;
  }

  .site-list__item--catalog {
    position: absolute;
    left: -367px;
    top: 82px;
    padding-left: 46px;
  }

  .site-list__link--smaller {
    font-size: 15px;
    line-height: 24px;
  }

  .site-list__item--order {
    position: absolute;
    left: -154px;
    top: 82px;
  }

  .site-list__item--search {
    width: 82px;
  }

  .site-list__item--cart {
    background-position: 31px 32px;
    width: 264px;
    justify-content: flex-end;
  }

  .site-list__link--cart {
    padding-left: 82px;
  }

  .site-list__link-icon--cart {
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
  }

  .site-list__link--search {
    padding: 0;
    padding-left: 41px;
    padding-right: 41px;
    min-height: 89px;
    width: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00000010;
      left: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00000010;
      right: 0;
    }
  }

  .site-list__link-icon--search {
    top: 50%;
    transform: translateY(-50%);
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 108px;
    right: -70px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .site-list__item--desktop {
    display: block;
  }

  .site-list__item--catalog {
    position: static;
    padding-left: 0;
    min-width: 179px;
    margin-right: 41px;
  }

  .site-list__item--order {
    position: static;
  }

  .site-list__link {
    padding-bottom: 20.5px;
    &--smaller {
      font-size: 17px;
    }
  }

  .site-list__item--new {
    position: absolute;
    top: 107.5px;
    left: -1050px;
    min-width: 240px;
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 109.5px;
    right: -70px;
  }

  .site-list__item--sale {
    position: absolute;
    top: 107.5px;
    left: -831px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}
