.slide-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slide-wrapper__button {
  background-color: #ffffff;
  width: 130px;
  min-height: 52px;
  border: solid 1px #ececec;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }
}

.slide-wrapper__button-previous {
  border-right: none;
}

@media (min-width: $tablet-width) {
  .slide-wrapper__button {
    border: none;
    min-height: 26px;
    width: 50px;
  }

  .slide-wrapper__button-previous {
    margin-right: 37px;
  }
}
