.socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  min-height: 80px;
}

.socials__item {
  width: 33%;
}

.socials__link {
  padding: 20px 13px;


  &:hover .socials__link-icon {
    background: #46c1ae;
  }

  &:active .socials__link-icon {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: solid 2px #63d1bb;
  }
}

.socials__link-icon {
  display: block;
  transition: background 0.3s, opacity 0.3s;
}

.socials__link-icon--vk {
  mask: url("../../img/sprite.svg#vk-icon") center center no-repeat;
  mask-size: 27px 18px;
  background: #231f20;
  width: 27px;
  height: 18px;
  margin-right: 32px;
}

.socials__link-icon--youtube {
  mask: url("../../img/sprite.svg#youtube-icon") center center no-repeat;
  mask-size: 24px 20px;
  background: #231f20;
  width: 24px;
  height: 20px;
  margin-right: 34px;
}

.socials__link-icon--telegram {
  mask: url("../../img/sprite.svg#telegram-icon") center center no-repeat;
  mask-size: 20px 18px;
  background: #231f20;
  width: 20px;
  height: 18px;
}
