.text-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.text-block__text-input {
  height: 52px;
  border: none;
  border-bottom: solid 2px #000000;
  font-family: inherit;
  margin-bottom: 21.85px;
}

.text-block__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
}

@media (min-width:$tablet-width) {
  .text-block__text-input {
    width: 375px;
  }
  .text-block__text-input--wider {
    width: 428px;
  }
  .text-block__text-input::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
  .text-block {
    flex-direction: row;
    align-items: center;
  }
  .text-block__text-input {
    margin-bottom: 0;
  }
  .text-block__label--wider {
    margin-bottom: 9px;
    margin-right: 24px;
  }
}

@media (min-width:$desktop-width) {
  .text-block__text-input {
    width: 573px;
  }
  .text-block__text-input--wider {
    width: 626px;
  }
}
