.text-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.text-block__text-input {
  height: 52px;
  width: 100%;
  border: none;
  border-bottom: solid 2px #000000;
  font-family: inherit;
  margin-bottom: 21.85px;
  transition: all 0.3s;

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus-visible {
    border-color: #62d1ba;
    outline: none;
  }
}

.text-block__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .text-block__text-input {
    width: 200%;
  }

  .text-block__text-input::placeholder,
  .text-block__text-input {
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 10px;
  }

  .text-block {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 24px;
  }

  .text-block__label--wider {
    margin-bottom: 9px;
    margin-right: 24px;
  }

  .text-block__label--last-name {
    margin-right: 25px;
  }

  .text-block__label--middle-name {
    margin-right: 26px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  .text-block__label {
    width: 105px;
  }
}

@media (min-width: $desktop-width) {
  .text-block__label {
    margin-bottom: 0;
  }

  .text-block__text-input {
    width: 573px;
    padding-left: 8px;
  }

  .text-block__text-input--wider {
    width: 626px;
  }
}
