.text-input-block__input {
  min-height: 52px;
  width: 260px;
  border: none;
  border-bottom: solid 2px #000000;
  margin-bottom: 34.5px;
  padding-right: 30px;
  font-family: inherit;
}

.text-input-block__input::placeholder {
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .text-input-block__input {
    margin: 0;
    width: 501px;
    background-color: #f1f1f1;
  }
}

@media (min-width: $desktop-width) {
  .text-input-block__input {
    width: 700px;
    margin-right: 173px;
  }
}
