.video {
  position: relative;
}

.video__play-button {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 8px;
  width: 101px;
  height: 77px;
}

.video__video {
  width: 100%;
}

.video__player {
  border: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 258.4 / 149.075;
}

.video__player--no-js {
  display: none;
}

.video__video--hidden {
  display: none;
}

.video__play-button--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .video__video {
    width: 100%;
    display: block;
  }

  .video__player {
    width: 100%;
    aspect-ratio: 666.4 / 453.9;
  }

  .video__play-button {
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .video__video {
    width: 682.65px;
    height: 455px;
  }

  .video__player {
    width: 682.65px;
    height: 455px;
  }

  .video__play-button {
    bottom: 3px;
  }
}
