@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  color: #000000;
  padding: 28.5px 59px 26.5px 76px;
}

.site-list__item {
  min-height: 79px;
  min-width: 320px;
  display: flex;
  align-items: center;
}

.site-list__item--search {
  background-image: url("../../img/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 32px 32px;
}

.site-list__item--desktop,
.site-list__item--delivery {
  display: none;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    position: relative;
    min-height: 89px;
  }

  .site-list__item {
    min-width: 0;
  }

  .site-list__link-text--search {
    display: none;
  }

  .site-list__link--wider {
    padding-top: 20.5px;
    padding-left: 0;
    padding-right: 0;
  }

  .site-list__item--catalog {
    position: absolute;
    left: -366px;
    top: 85px;
    padding-left: 46px;
  }

  .site-list__link--smaller {
    font-size: 15px;
    line-height: 24px;
  }

  .site-list__item--order {
    position: absolute;
    left: -152px;
    top: 85px;
  }

  .site-list__item--search {
    width: 82px;
    margin-right: 85px;
  }

  .site-list__link--search {
    padding: 0;
    padding-left: 33px;
    padding-right: 33px;
    min-height: 89px;
    width: 10px;
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 108px;
    right: -70px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}
@media (min-width: 1150px) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .site-list__item--desktop {
    display: block;
  }

  .site-list__item--catalog {
    position: static;
    padding-left: 0;
    min-width: 179px;
    margin-right: 41px;
  }

  .site-list__item--order {
    position: static;
  }

  .site-list__link {
    padding-bottom: 20.5px;
  }

  .site-list__item--new {
    position: absolute;
    top: 109.5px;
    left: -1050px;
    min-width: 240px;
  }

  .site-list__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    min-width: 300px;
    position: absolute;
    top: 109.5px;
    right: -70px;
  }

  .site-list__item--sale {
    position: absolute;
    top: 109.5px;
    left: -831px;
  }

  .site-list__link--delivery {
    color: #444444;
  }
}
.page {
  height: 100%;
  width: 320px;
  margin: 0 auto;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .page {
    width: 1150px;
  }
}
.hero {
  background-image: url("../img/hero-image.jpg");
  background-color: #808080;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  padding: 0 30px;
  padding-top: 73px;
  min-height: 300px;
}

@media (min-width: 768px) {
  .hero {
    min-height: 627px;
    padding-top: 155px;
  }
}
@media (min-width: 1150px) {
  .hero {
    padding-top: 157px;
  }
}
.hero-title {
  min-width: 260px;
  margin: 0;
  margin-bottom: 120px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.hero-title--catalog {
  margin-bottom: 73.46px;
}

@media (min-width: 768px) {
  .hero-title {
    margin-bottom: 75px;
    font-size: 43px;
    line-height: 50px;
  }

  .hero-title--catalog {
    margin-bottom: 75px;
  }
}
@media (min-width: 1150px) {
  .hero-title {
    font-size: 53px;
    line-height: 57px;
  }

  .hero-title--catalog {
    margin-bottom: 95.95px;
  }
}
.products-categories {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .products-categories {
    padding: 0 50px;
  }
}
.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-list__item {
  width: 320px;
  min-height: 103px;
  text-align: left;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.categories-list__link {
  color: #ffffff;
  min-width: 130px;
  padding: 24px 160px 31px 0;
}

.categories-list__item--primary {
  background-color: #63d1bb;
}

.categories-list__item--secondary {
  background-color: #56c3b2;
}

@media (min-width: 768px) {
  .categories-list {
    display: flex;
  }

  .categories-list__item {
    width: 100%;
    padding: 0;
  }

  .categories-list__link {
    padding: 25px 167px 34px 36px;
  }
}
@media (min-width: 1150px) {
  .categories-list {
    display: flex;
  }

  .categories-list__item {
    width: 100%;
  }

  .categories-list__link {
    max-width: 200px;
  }
}
.main-header {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
}

.main-header__logo {
  margin: 0 auto;
}

.main-header__toggle {
  width: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    margin-right: auto;
    padding: 0;
  }

  .main-header {
    display: flex;
    min-height: 89px;
    padding: 0 50px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .main-header__list--first {
    order: -2;
  }

  .main-header__wrapper {
    order: -1;
    margin: 0 auto;
  }

  .main-header__list--last {
    font-size: 15px;
    line-height: 24px;
  }
}
.featured {
  padding: 0 30px;
}

.featured__title {
  margin-bottom: 3.5px;
  margin-top: 31px;
}

.featured__best-of-week {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.featured__properties {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 14px;
}

.featured__properties-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.featured__type {
  width: 97px;
  margin-right: 1px;
}

.featured__value {
  left: 97px;
}

.featured__image {
  display: block;
}

.featured__order-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  margin-top: 25.5px;
  margin-bottom: 24.5px;
}

.featured__button {
  margin-bottom: 73px;
}

@media (min-width: 768px) {
  .featured {
    padding: 0 50px;
  }

  .featured__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 39.5px;
    margin-bottom: 37.5px;
  }

  .featured__title {
    margin: 0;
  }

  .featured__best-of-week {
    width: 100px;
    font-size: 17px;
    line-height: 17px;
  }

  .featured__columns-wrapper {
    display: grid;
    grid-template-columns: 292px 334px;
    column-gap: 42px;
    align-items: start;
    min-height: 404px;
  }

  .featured__description {
    grid-column: 1/2;
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .featured__properties {
    grid-column: 1/2;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 55px;
  }

  .featured__image-wrapper {
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .featured__order-wrapper {
    grid-column: 1/2;
  }

  .featured__button {
    margin-bottom: 0;
  }

  .featured__price {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .featured__type {
    margin-top: 9.5px;
    margin-bottom: 9.5px;
  }

  .featured__value {
    margin-top: 9.5px;
    margin-bottom: 9.5px;
  }
}
@media (min-width: 1150px) {
  .featured {
    position: relative;
  }

  .featured__wrapper {
    position: absolute;
    justify-content: flex-start;
    padding: 0 32px;
    margin-top: 61px;
    margin-bottom: 35px;
  }

  .featured__best-of-week {
    order: -1;
    margin-right: 43px;
  }

  .featured__columns-wrapper {
    display: grid;
    grid-template-columns: 292px 525px;
    column-gap: 58px;
    align-items: start;
    min-height: 636px;
    padding-left: 175px;
    margin-top: 54px;
  }

  .featured__description {
    grid-column: 1/2;
    margin-top: 153px;
    margin-bottom: 60px;
  }

  .featured__properties {
    grid-column: 1/2;
    margin-bottom: 99.5px;
  }

  .featured__image-wrapper {
    grid-column: 2/3;
    grid-row: 1/5;
  }

  .featured__order-wrapper {
    grid-column: 1/2;
  }
}
.section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 43px;
    line-height: 50px;
  }

  .section-title--catalog {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .section-title {
    font-size: 53px;
    line-height: 57px;
  }
}
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  width: 260px;
  font-family: inherit;
}

@media (min-width: 768px) {
  .button {
    width: 292px;
  }
}
.button-primary {
  background-color: #ffffff;
  border: solid 2px #444444;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
}

.button-primary--catalog {
  line-height: 16px;
}

.button-secondary {
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .button-secondary {
    width: 100%;
  }
}
.button-xs {
  width: 82px;
  min-height: 52px;
  border: solid 2px #444444;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .button-xs {
    width: 112px;
  }
}
.about {
  padding: 0 30px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 82px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__list-item img {
  display: block;
}

.about__list-item-description {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.about__list-item {
  position: relative;
}

.about__list-item:not(:last-child) {
  margin-bottom: 83px;
}

.about__list-item-image {
  position: absolute;
}

.about__list-item-image--flower {
  bottom: 56px;
  left: 8px;
}

.about__list-item-image--money {
  bottom: 66px;
  left: 0;
}

.about__list-item-image--heart {
  bottom: 61px;
  left: 7px;
}

.about__list-item-image--ball {
  bottom: 57px;
  left: 3px;
}

.about__list-item-image--rocket {
  bottom: 66px;
  left: -6px;
}

.about__list-item-image--present {
  bottom: 60px;
  left: 3px;
}

.about__list__item-column:not(:last-child) {
  margin-bottom: 83px;
}

@media (min-width: 768px) {
  .about {
    padding: 0 50px;
  }

  .about__title {
    margin-top: 124.5px;
    margin-bottom: 97.5px;
  }

  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    align-items: start;
  }

  .about__list-item:not(:last-child) {
    margin-bottom: 111px;
  }
}
@media (min-width: 1150px) {
  .about {
    padding: 0 225px;
  }

  .about__title {
    margin-top: 164px;
    margin-bottom: 95px;
  }
}
.reviews {
  padding: 0 30px;
}

.reviews__title {
  margin-top: 58px;
  margin-bottom: 14px;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__slide-wrapper {
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .reviews {
    padding: 79px 50px 47px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 457px;
    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    order: -2;
    margin: 0;
  }

  .reviews__button {
    order: -1;
    width: 175px;
    font-size: 17px;
    line-height: 20px;
  }

  .reviews__slide-wrapper {
    margin: 0;
    position: absolute;
    bottom: 62px;
    right: 69px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    padding-left: 225px;
  }
}
.review {
  margin: 0;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 33px;
}

.review__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.review__author-email {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

@media (min-width: 768px) {
  .review__author {
    width: 284px;
    display: flex;
    flex-wrap: wrap;
  }

  .review__text {
    font-size: 17px;
    line-height: 30px;
    margin-top: 38.5px;
    margin-bottom: 61px;
  }
}
.slide-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slide-wrapper__button {
  background-color: #ffffff;
  width: 130px;
  min-height: 52px;
  border: solid 1px #ececec;
}

.slide-wrapper__button-previous {
  border-right: none;
}

@media (min-width: 768px) {
  .slide-wrapper__button {
    border: none;
    min-height: 26px;
    width: 50px;
  }

  .slide-wrapper__button-previous {
    margin-right: 37px;
  }
}
.contact-us__title {
  margin-top: 89px;
  margin-bottom: 28px;
  padding: 0 30px;
}

.contact-us__button {
  margin-left: 30px;
  margin-bottom: 39px;
}

.contact-us__map-wrapper-map {
  display: block;
  margin-top: 62px;
  margin-bottom: 42px;
}

@media (min-width: 768px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .contact-us__title {
    padding: 0 50px;
    margin-top: 153px;
    margin-bottom: 49px;
  }

  .contact-us__wrapper {
    width: 100%;
  }

  .contact-us__wrapper .contact-us__list {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .contact-us__button {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 57px;
  }

  .contact-us__item {
    font-size: 17px;
    line-height: 30px;
  }

  .contact-us__map-wrapper-map {
    display: block;
  }
}
@media (min-width: 1150px) {
  .contact-us {
    padding-left: 225px;
    padding-right: 50px;
    padding-top: 161px;
    position: relative;
  }

  .contact-us__title {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 240px;
  }

  .contact-us__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .contact-us__wrapper .contact-us__list {
    width: 291px;
    padding: 0;
    margin-right: 55px;
    padding-top: 170.5px;
  }

  .contacts__map-wrapper {
    width: 527px;
    margin-bottom: 105px;
  }

  .contact-us__button {
    width: 230px;
    position: absolute;
    bottom: 47px;
    left: 225px;
  }

  .contact-us__map-wrapper-map {
    margin-top: 0;
    margin-bottom: 105px;
  }
}
.contacts {
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.contacts__item-name {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 76px;
  margin-top: 0;
  margin-right: 1px;
  align-self: flex-start;
}

.contacts__item-info {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  width: 183px;
  align-self: flex-start;
}

.socials {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  min-height: 80px;
}

.socials__link {
  padding: 20px 10px;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

.main-footer__socials {
  padding: 0 80px;
}

.main-footer__developed {
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 143px;
    padding: 0 50px;
  }

  .main-footer__logo {
    display: block;
  }
}
.developed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
}

.developed__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 27px;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  background-color: #ffffff90;
  height: 100%;
  width: 100%;
}

.modal-wrapper--invisible {
  display: none;
}

.modal-window {
  width: 320px;
  padding: 0 30px;
  background-color: #ffffff;
  align-self: center;
  justify-self: center;
}

.modal-window__title {
  text-align: center;
  margin-top: 28.5px;
  margin-bottom: 14px;
}

.modal-window__options {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .modal-window {
    margin-left: 101px;
    width: 566px;
    padding: 0 108px;
  }

  .modal-window__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 11px;
  }

  .modal-window__options {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .modal-window {
    margin-left: 292px;
  }
}
.options {
  display: flex;
  justify-content: space-between;
}

.options__button--active {
  border: solid 2px #63d1bb;
}

.options__button {
  margin-top: 21.5px;
  margin-bottom: 31px;
}

.hero-section {
  background-color: #f1f1f1;
  min-height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  padding-top: 73.54px;
}

@media (min-width: 768px) {
  .hero-section {
    padding-top: 100px;
  }
}
@media (min-width: 1150px) {
  .hero-section {
    padding-top: 102.05px;
  }
}
.cards {
  padding: 0 30px;
}

.cards__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
}

.cards__item {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .cards {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .cards__items {
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
    margin-top: 111px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: solid 1px #ececec;
}

.card__card-image {
  display: block;
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-top: 27.5px;
  margin-bottom: 6px;
  margin-left: 28px;
}

.card__card-link {
  color: #000000;
}

.card__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: 28px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 28px;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26.5px;
}

.card__cart-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
  }

  .card__card-image {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .card__description {
    grid-column: 2/3;
    font-size: 15px;
    line-height: 30px;
  }

  .card__price-wrapper {
    grid-column: 2/3;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 6.5px;
  }

  .card__price {
    font-size: 17px;
    line-height: 24px;
    align-self: end;
    margin-bottom: 25.5px;
  }

  .card__cart-button {
    align-self: end;
    margin-bottom: 15px;
  }
}
@media (min-width: 1150px) {
  .card {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 659px;
    margin-bottom: 57px;
  }

  .card__title {
    margin-bottom: 6px;
  }

  .card__description {
    margin-bottom: 60.5px;
  }
}
.production {
  padding: 0 30px;
}

.production--spacing {
  padding-bottom: 33px;
  margin-bottom: 58px;
  border-top: solid 1px #ececec;
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  padding-top: 21.5px;
  margin-bottom: 26.5px;
  padding-left: 91px;
  position: relative;
}

.production__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/camera-icon.svg");
  background-size: 32px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 22px;
  left: 34px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.production__video-player {
  margin-bottom: 35px;
}

.production__production-description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-left: 34px;
  margin-bottom: 41px;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px;
    border-top: none;
  }

  .production__video-player {
    order: -2;
    min-height: 455px;
    margin-bottom: 41px;
  }

  .production__title {
    order: -1;
    margin-top: 0;
    padding-top: 0;
    padding-left: 107px;
  }

  .production__title::before {
    left: 40px;
  }

  .production__production-description {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .production--spacing {
    margin-bottom: 110px;
  }

  .production__button {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .production {
    display: grid;
    align-items: start;
    grid-template-columns: 682.65px 1fr;
    column-gap: 79.08px;
  }

  .production__video-player {
    grid-column: 1/2;
    grid-row: 1/5;
    margin-bottom: 0;
  }

  .production__title {
    grid-column: 2/3;
    padding-left: 0;
    padding-top: 96px;
    max-width: 200px;
  }

  .production__title::before {
    left: 1px;
    bottom: 27px;
  }

  .production__production-description {
    grid-column: 2/3;
    padding: 0;
  }

  .production__button {
    grid-column: 2/3;
    width: 230px;
    margin: 0;
  }

  .production--spacing {
    margin-bottom: 105px;
  }
}
.video {
  position: relative;
}

.video__play-button {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 101px;
  height: 77px;
}

.play-button {
  border: none;
  background-color: transparent;
}

.forms {
  padding: 0 30px;
}

.forms__customization-text {
  margin-top: 17px;
  margin-bottom: 29px;
}

@media (min-width: 768px) {
  .forms {
    padding: 0;
  }

  .forms__customization-text {
    margin-top: 54px;
    margin-bottom: 13px;
    margin-left: 50px;
  }
}
@media (min-width: 1150px) {
  .forms__customization-text {
    margin-top: 98.5px;
    padding-left: 174px;
    padding-right: 171px;
  }
}
.form {
  padding-bottom: 55px;
}

.form__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.form__label--primary {
  color: #63d1bb;
}

.form__form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__form-radio:not(:last-child) {
  margin-bottom: 24px;
}

.form__form-checkbox:not(:last-child) {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__form-checkbox:not(:last-child) {
    margin: 0;
  }
}

.form__form-list-name {
  padding-top: 28.85px;
  padding-bottom: 12.65px;
}

.form__required-menu-items {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 17px;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .form__type {
    display: flex;
    padding: 0 50px;
  }

  .form__form-radio:not(:last-child) {
    margin-bottom: 58px;
  }

  .form__type--pdt-pdb50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__form-list-name {
    padding: 0;
    padding-left: 125px;
  }

  .form__type--contacts {
    flex-direction: column;
  }

  .form__label-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form__label-wrapper:not(:last-child) {
    margin-bottom: 24px;
  }

  .form__text-input-block {
    margin-left: auto;
  }

  .form__required-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
  }

  .form__required-menu-items {
    margin: 0;
    order: 2;
  }
}
@media (min-width: 1150px) {
  .form__type {
    padding-left: 46px;
  }

  .form__form-list-name {
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .form__form-text {
    margin-right: 173px;
  }

  .form__required-wrapper {
    padding: 0 225px;
  }
}
.form-section {
  border: none;
  margin: 0;
}

@media (min-width: 768px) {
  .form-section:nth-child(even) {
    background-color: #f1f1f1;
  }
}
.form-text {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .form-text {
    font-size: 19px;
    line-height: 18px;
  }
}
.radio-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.radio-block__radio {
  position: absolute;
  left: -61px;
  cursor: pointer;
}

.radio-block__label {
  cursor: pointer;
}

.form-list-radio {
  padding-top: 35px;
  padding-bottom: 43px;
  padding-left: 60px;
}

@media (min-width: 768px) {
  .form-list-radio {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 181px;
  }
}
@media (min-width: 1150px) {
  .form-list-radio {
    padding-left: 143px;
  }
}
.form-list-checkbox {
  padding-top: 25px;
  padding-bottom: 33px;
  padding-left: 61px;
}

@media (min-width: 768px) {
  .form-list-checkbox {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 94px;
    row-gap: 60px;
  }
}
@media (min-width: 1150px) {
  .form-list-checkbox {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 57px;
    padding-left: 137px;
  }
}
.checkbox-block {
  min-height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.checkbox-block__checkbox {
  position: absolute;
  left: -61px;
}

@media (min-width: 768px) {
  .checkbox-block {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.text-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.text-block__text-input {
  height: 52px;
  border: none;
  border-bottom: solid 2px #000000;
  font-family: inherit;
  margin-bottom: 21.85px;
}

.text-block__text-input::placeholder {
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .text-block__text-input {
    width: 375px;
  }

  .text-block__text-input--wider {
    width: 428px;
  }

  .text-block__text-input::placeholder,
.text-block__text-input {
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .text-block {
    flex-direction: row;
    align-items: center;
  }

  .text-block__label--wider {
    margin-bottom: 9px;
    margin-right: 24px;
  }
}
@media (min-width: 1150px) {
  .text-block__text-input {
    width: 573px;
  }

  .text-block__text-input--wider {
    width: 626px;
  }
}
.text-input-block__input {
  min-height: 52px;
  width: 260px;
  border: none;
  border-bottom: solid 2px #000000;
  margin-bottom: 34.5px;
  padding-right: 30px;
  font-family: inherit;
}

.text-input-block__input::placeholder {
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .text-input-block__input {
    margin: 0;
    width: 501px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 1150px) {
  .text-input-block__input {
    width: 700px;
    margin-right: 173px;
  }
}
.text-area-input-block__input-textarea {
  margin-top: 22.5px;
  border: solid 2px #444444;
  font-family: inherit;
}

.text-area-input-block__input-textarea::placeholder {
  padding: 17px;
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .text-area-input-block__input-textarea {
    margin: 0;
    width: 501px;
  }
}
@media (min-width: 1150px) {
  .text-area-input-block__input-textarea {
    width: 700px;
    margin-right: 173px;
  }
}
/*# sourceMappingURL=style.css.map */