.production {
  padding: 0 30px;
}

.production__production-spacing {
  padding-bottom: 33px;
  margin-bottom: 58px;
  border-top: solid 1px #ECECEC;
}

.production__title {
  font-size: 17px;
  line-height: 24px;
  padding-top: 21.5px;
  margin-bottom: 26.5px;
  padding-left: 91px;
  position: relative;
}

.production__title::before {
  position: absolute;
  content: "";
  background-image: url(../img/icons/camera-icon.svg);
  background-size: 32px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 22px;
  left: 34px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.production__video-player {
  margin-bottom: 35px;
}

.production__production-description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-left: 34px;
  margin-bottom: 41px;
}
