.review {
  margin: 0;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 33px;
}

.review__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.review__author-email {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}
